<app-header></app-header>
<form>
    <div class="form-field">
        <label>Nome:</label>
        <input type="text" name="nome">
    </div>

    <div class="form-field">
        <label>Email:</label>
        <input type="email" name="email">
    </div>

    <div class="form-field">
        <label>Senha:</label>
        <input type="password" name="senha">
    </div>
    
    <div class="form-field">
        <label>Valor Mensalidade:</label>
        <input type="number" name="valorMensalidade">
    </div>
    <button type="submit" >Salvar</button>
    
</form>